/* Add your font via Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
    margin: 0; 
    padding: 500; 
    box-sizing: border-box;
    font-family: inherit;
     
}

body {
  line-height: 2;
}

.start-container {
  margin: 0 auto;    /*Center the "Save the World button*/
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.start-btn {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--midori_green);
    box-shadow: 0 5px 0 var(--black_000);
    color: var(--body_bg);
}
.start-btn:active {
    box-shadow: none;
    transform: translateY(5px);
}




/* Define your color scheme here, taken from Fullyhacks color scheme */
:root {
  --body_bg: #fffaf1;
  --sky_100: #abe1ff;
  --sky_300: #18aaff;
  --blue_300: #385ddf;
  --purple_300: #9ea8ff;
  --purple_hover: #3b3561;
  --purple_500: #4f38df;
  --pink_700: #b438df;
  --pink_400: #ff8f8f;
  --pink_300: #df389c;
  --pink_100: #ffabce;
  --orange_300: #ffc985;
  --orange_100: #ffedcc;
  --purple_main: #340b67;
  --purple_main_hover: #b49fcc;
  --midori_green: #2a603b;
  --black_000: #000000;
}

html {
  background-color: var(--body_bg);
  font-family: "Rubik";
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav-bar{
  background-color: var(--purple_300);
  padding: 1.5rem;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5rem;
}
.nav-link { 
    text-decoration: none;
    color: black;
    list-style: none;
}
.title {
  color: var(--sky_300);
  margin-top: 2rem;
  font-size: 2rem;
}
.pictureCaption {
  margin-top: 1rem;
}
.fullypic {
  margin-top: 2rem;
  object-fit: cover;
}

/* Title animation */

  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  } */
  
  /* body {
    display: flex;
    background: #000;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }  */
  @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
  
  .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .content h2 {
    color: #fff;
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  */
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
/* example */
  /* <section>
  <div class="content">
    <h2>Kemi</h2>
    <h2>Kemi</h2>
  </div>
</section> */

/* tabs animation */
.animated-list li {
  transition: all 0.3s ease-in-out;
}
.animated-list li:hover {
  transform: translateY(-5px);
}
.animated-list li:active {
  transform: translateY(5px);
}

/* button animation */
.animated-button:hover {
  cursor: pointer;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* background design */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}