/* Add your font via Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
    margin: 0; 
    padding: 500; 
    box-sizing: border-box;
    font-family: inherit;
     
}


.login-btn {
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--midori_green);
  color: var(--body_bg);
  z-index:999
}
.login-btn:active{
  box-shadow: none;
  transform: translateY(5px);
  z-index: 999;
}

body {
  line-height: 2;
}

html {
    background-color: var(--body_bg);
    font-family: "Rubik";
  }

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav-bar{
    background-color: var(--darkreader);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.5rem;
  }
  .nav-link { 
      text-decoration: none;
      color: black;
      list-style: none; 
  }

  :root {
    --height: -80px;
    --body_bg: #fffaf1;
    --sky_100: #abe1ff;
    --sky_300: #18aaff;
    --blue_300: #385ddf;
    --purple_300: #9ea8ff;
    --purple_hover: #3b3561;
    --purple_500: #4f38df;
    --pink_700: #b438df;
    --pink_400: #ff8f8f;
    --pink_300: #df389c;
    --pink_100: #ffabce;
    --orange_300: #ffc985;
    --orange_100: #ffedcc;
    --purple_main: #340b67;
    --purple_main_hover: #b49fcc;
    --midori_green: #2a603b;
    --black_000: #000000;
    --darkreader: #2c2e2f;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  .circle{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: #ccc;
    border: 5px solid #4973ff;
    border-radius: 50%;
    overflow: hidden;
  }
  .wave{
    position: relative;
    width: 100%;
    height: 100%;
    background: #4973ff;
    border-radius: 50%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  }
  .wave:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: var(--height); /* filled is -80px, empty is 80px */
    left: 50%;
    transform: translate(-50%, -75%);
    transition: top 100ms;
  }
  .wave:before{
    border-radius: 45%;
    background: rgba(255, 255, 255, 1);
    animation: animate 5s linear infinite;
  }
  @keyframes animate{
    0%{
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  /* tabs animation */
.animated-list li {
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.animated-list li:hover {
  transform: translateY(-5px);
}
.animated-list li:active {
  transform: translateY(5px);
}
  
  
  